{%extends "users/base.html"%}

{% block content %}

<div class="container">
   
<div class="row">
  {% for profile in profile%}

<div class="col-md-5">

<img src="{{profile.profile_pic.url}}" class="img-responsive img-circle" alt="" style="width: 300px; height: 240px;">

<h4>bio:{{profile.user}}</h4>
</div>



    <div class="row">
        {% autoescape on %}
        {{profile.bio| safe}}
       {% endautoescape %}
       </div>

       {%endfor%}

</div>
<hr>

<div class="row">
  {%for image in images%}
  <div class="col-md-5">
      <img src="{{image.image.url}}" class="img-responsive" alt="" style="width: 300px; height: 240px;">
  </div>
  {%endfor%}
</div>

     
     </div>
 
   

    {% endblock %}