{%extends "users/base.html"%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Instagram signup</title>
</head>
<body>

    {% block content %}

    <div class="container">
        <div class="row">
    
            
            <img src="{{picture.image.url}}" class="img-responsive" alt="" style="width: 300px; height: 240px;">
            <h5>{{picture.caption}}</h5>

            </div>

            <div class="row">
                {% autoescape on %}
                {{picture.post| safe}}
               {% endautoescape %}
               </div>

    </div>

            {% endfor %}
    {% endblock %}
    
</body>
</html>