<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"  href="{% url 'welcome' %}"><img src="/static/images/logo2.png" class="img-responsive" style="height: 1cm; margin: 5px; margin-left: 70px;"></a>

            </div> 
            <form class="navbar-form navbar-center" role="search" action="{% url 'search_results' %}">
          
              <div class="form-group" style="margin-top: 20px;">
                <input type="text" class="form-control" placeholder="search username" name="search_results">
                
              </div>
      
            </form>
            
            <div class="navbar">
              <a class="navbar-brand" href="{% url 'new_picture' %}">New image</a>

          </div>
          <div class="navbar">
              <a href="{%url 'edit-profile'%}">Update profile</a>
          </div>
          <div class="nav justify-content-end">
            <a href="{%url 'user-profile' %}">My profile</a>
          </div>

          <div class="navbar">
            <a href="/accounts/password/change"><button type='submit' class="btn btn-primary"> Change Password</button></a>

        </div>

        <div class="navbar">
          <a href="/logout">Logout</a>

      </div>
            <div class="col-sm-4 col-md-4 navbar-right">

                
              </div>

        </div>

    </nav>
</body>
</html>